.chart-previews-container {
  width: 1180px;
  background-color: white;
  height: 212px;
  margin: 0 auto;
  border-left: 1px solid rgb(218, 225, 233);
  display: flex;
}

.chart-preview-container {
  height: 210px;
  border: 1px solid rgb(218, 225, 233);
  border-left: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chart-preview-container:hover {
  cursor: pointer;
}

.chart-preview-hovered {

}

.chart-preview-unhovered {

}

/* .chart-preview-button {
  display: none;
  z-index: 3;
  top: 80px;
  left: 80px;
  padding: 38px 0;
  padding-top: 16px;
  border-radius: 4px;
  border: none;
  position: relative;
  width: 140px;
  color: white;
  background-color: rgb(0, 197, 127);
  font-weight: 500;
  font-size: 16px;
  font-family: "Avenir Next", -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
} */

.button-displayed {
  display: block;
}

.chart-preview-header {
  height: 50px;
  padding: 20px;
  /* margin-top: -42px; */
}

/* .chart-preview-header-unhovered {
  height: 50px;
  padding: 20px;
} */

.chart-preview-title {
  padding-bottom: 8px;
}

.chart-preview-title > h1 {
  font-size: 16px;
  color: rgb(90, 90, 90);
  font-weight: 500;
  font-family: "Avenir Next", -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.chart-preview-number > h1 {
  color: rgb(45, 45, 45);
  font-size: 28px;
  font-weight: 500;
  font-family: "Avenir Next", -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: inline;
}

.chart-preview-number > h2 {
  color: rgb(75, 75, 75);
  display: inline;
  font-size: 14px;
  font-weight: 500;
  padding-left: 6px;
  font-family: "Avenir Next", -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
