.asset-header {
  margin: 24px auto;
  background-color: white;
  display: inline-block;
  float: left;
  padding: 16px 20px;
  padding-bottom: 4px;
  vertical-align: middle;
  border: 1px solid rgb(218, 225, 233);
  border-radius: 4px;
  font-family: "Avenir Next", -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.asset-header h1 {
  color: rgb(78, 92, 110);
  font-size: 32px;
  display: inline;
  font-family: inherit;
}

.asset-header h2 {
  font-size: 24px;
  color: rgb(155, 166, 178);
  display: inline;
  padding-left: 20px;
  font-family: inherit;
}

.asset-header div {
  display: inline-block;
  position: relative;
  top: -10px;
  margin-left: 8px;
}

.asset-header img {
  display: inline-block;
}

.asset-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1178px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid rgb(218, 225, 233);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(125, 149, 182);
  font-family: "Avenir Next", -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /* position: absolute; */
  padding-top: 20px;
}

.asset-chart-container > div {
  width: 90%;
  padding: 16px;
}

.asset-chart-time-frames {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 90px;
  left: 490px;
}

.asset-chart-time-frames > li {
  color: rgb(78, 92, 110);
  padding: 0 4px;
  font-size: 13px;
  color: rgb(155, 166, 178);
}

.asset-chart-time-frames > li:hover {
  cursor: pointer;
}

.asset-chart-header {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.asset-chart-header h1 {
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 0px;
  font-size: 24px;
  font-weight: inherit;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;
  letter-spacing: 2px;
  float: left;
}

.asset-chart-number {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* width: 800px; */
  float: left;
}

.asset-chart-number h2 {
  font-size: 48px;
  font-weight: 400;
  color: rgb(78, 92, 110);
  text-align: center;
  font-family: inherit;
}

.asset-chart-number h3 {
  font-size: 30px;
  color: rgb(78, 92, 110);
  font-family: inherit;
}

.asset-chart-container > .asset-chart-dates {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
  width: 100%;
  border-top: 1px solid rgb(218, 225, 233);
  margin-top: -20px;
  padding: 0;
  background-color: rgb(244, 247, 250);
}

.asset-chart-dates ul {
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding:  8px 20px;
  margin: 0 auto;
}

.asset-chart-dates ul, li {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
}

.asset-description {
  display: block;
  background-color: white;
  border: 1px solid rgb(218, 225, 233);
  border-top: none;
  padding: 36px;
  margin-bottom: 36px;
  font-family: "Avenir Next", -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.asset-description h1 {
  color: rgb(78, 92, 110);
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  padding-bottom: 12px;
}

.asset-description p {
  color: rgb(139, 146, 167);
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.5;
}

.other-asset-descriptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}

.other-description-item {
  background-color: white;
  padding: 32px;
  border: 1px solid rgb(218, 225, 233);
  width: 316px;
  border-radius: 6px;
}

.other-description-item p {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  color: rgb(139, 146, 167);
}

#more-assets {
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  padding-left: 32px;
  color: rgb(78, 92, 110);
}

.other-description-item > div {
  display: inline-block;
  padding-left: 12px;
  padding-bottom: 16px;
}

.other-description-item h1 {
  font-weight: 600;
  line-height: 1.5;
  color: rgb(6, 103, 208);
  font-size: 16px;
  display: inline;
}

.other-description-item h2 {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  color: rgb(155, 166, 178);
  display: inline;
}

.asset-chart-header .green-asset {
  color: rgb(97, 202, 0);
}

.asset-chart-header .red-asset {
  color: rgb(255, 73, 73);
}
