.navbar {
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.profile-dropdown {
  float: right;
  cursor: pointer;
}


.signed-in {
  background-color: rgb(244, 247, 250);
  padding: 0px 24px;
}
